<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/259381a9-d767-405f-a270-e8c1bf613286/resourceGroups/allocation/providers/Microsoft.Web/sites/allocatingbackend20200128084940</ResourceId>
    <ResourceGroup>allocation</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://allocatingbackend20200128084940.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>allocatingbackend20200128084940.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>allocatingbackend20200128084940</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$allocatingbackend20200128084940</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>